@import 'compass/css3/box-sizing';

header.site,
article,
footer.site,
header.site aside {
	@include box-sizing(border-box);
}

header.site {
	position: fixed;
	top: 0;
	height: 100%;
	width: 30%;
	max-width: 21rem;
}

article,
footer.site {
	margin-left: 30%;
	max-width: 50rem;
	padding: 0 2rem;
}

header.site .title {
	padding: 2rem;
	background: rgba(255, 255, 255, 0.8);
}

header.site .title img {
	width: 100%;
	display: block;
}

header.site aside {
	position: absolute;
	bottom: 0;
	padding: 2rem;
	width: 100%;
}

body > article {
	margin-top: 2rem;
}
